.login-btn{
    border:none;
    background-color:#0d807e;
    color: white;
    width: 100%;
    font-size: 1.2rem;
    cursor: pointer;
}
.login-btn:disabled{
    background-color: rgb(199, 206, 213);
    cursor: not-allowed;
    opacity: 0.7;
}
.login-btn:hover:enabled {
    background-color: #0d807e;
}
.login-title{
    border-bottom: 3px solid #0d807e ;
}

.login-container{
    background-color: #54DFFE;
}
.custom-toast {
    background-color: transparent;
    color: black;
    font-size: 0.2rem;
    font-weight: lighter;
    border-radius: 10px;
    padding: 10px;
    width: 40%;
    height: 10%;
}
.btn {
    padding-right: 1rem;
    position: absolute;
    font-size: 0.8rem;
    font-weight: lighter;
    top: 0.2rem;
    right: 1rem;

}
.blur-background{
    filter: blur(5px);
    transition: filter 0.3s ease;
}

.modal-overlay {
   position: fixed; 
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   backdrop-filter: blur(6px);
   background-color: rgba(0,0,0,0.4);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;
}
.modal {
    /* background: white; */
    /* border-radius: 12px; */
    width: 400px;
    max-width: 90%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 30px rgb(0,0,0,0.25);
    overflow: hidden;
    /* display: flex; */
    /* flex-direction: column; */
    /* padding: 24px; */
    animation: fadeInScale 0.3s ease;
}
@keyframes fadeInScale{
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.modal-header{
    padding: 16px 20px;
    border-bottom: 1px solid #eee;
    /* font-size: 18px; */
    /* font-weight: bold; */
    border-bottom: 1px solid #eee;
    background-color: #f8f9fa;
}
.modal-body{
    padding: 20px;
    color: #444;
    font-size: 14px;
}
.modal-footer{
    padding: 12px 20px;
    border-top: 1px solid #eee;
    background-color: #f8f9fa;
    display: flex;
    justify-content: flex-end;
    gap:10px;
    /* border-bottom: 1px solid #eee; */
}
.close-btn{
    min-width: 90px;
    cursor: pointer;

}
.navbar-custom{
    background-color: #333;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
}

