.signup-btn{
    border:none;
    background-color:#0d807e;
    color: white;
    width: 100%;
    font-size: 1.2rem;
    cursor: pointer;
}
.signup-btn:disabled{
    background-color: rgb(142, 151, 159);
    cursor:not-allowed;
    opacity: 0.7;
}
.signup-btn:hover:enabled {
    background-color: #0d807e;
}
.signup-title{
    border-bottom: 3px solid #0d807e ;
}
.signup-container{
    background-color: #54DFFE;
}

.custom-toast {
    background-color:transparent !important ;
    color:black !important;
    font-size: 0.2rem;
    font-weight: lighter;
    border-radius: 10px;
    padding: 10px;
    width: 40%;
    height: 10%;
    
}
.btn {
    
    padding-right: 1rem;
    position: absolute;
    font-size: 0.8rem;
    font-weight: lighter; 
    top: 0.2rem;
    right: 1rem;

}
    
