.signup-btn{
    border:none;
    background-color:#0d807e;
    color: white;
    width: 100%;
    font-size: 1.2rem;
}
.signup-title{
    border-bottom: 3px solid #0d807e ;
}
.signup-container{
    background-color: #54DFFE;
}